{
  "TOKEN": "BOT_TOKEN_HERE",
  "PREFIX": "nhd!",
  "COLOR": "#DD474D",
  "OWNERS": ["YOUR_USER_ID"],
  "LANG": ["english", "chinese", "japanese"],
  "BOTNAME": "nHDBot",
  "SERVER_INV": "wm6V3cT",
  "CLIENT_ID": "CLIENT_ID_HERE",
  "BOTPERMS": "8"
}
